# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/backend_f/.env
/backend_f/venv
/backend_f/app/__pycache__
/backend_f/app/api/__pycache__
/backend_f/app/api/v1/__pycache__
/backend_f/app/api/v1/endpoints/__pycache__
/backend_f/app/api/v1/filters/__pycache__
/backend_f/app/api/v1/schemas/__pycache__
/backend_f/app/core/__pycache__
/backend_f/app/models/__pycache__
/backend_f/app/services/__pycache__
