# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/backend/.env
/backend/venv
/backend/app/__pycache__
/backend/app/api/__pycache__
/backend/app/api/v1/__pycache__
/backend/app/api/v1/endpoints/__pycache__
/backend/app/api/v1/filters/__pycache__
/backend/app/api/v1/schemas/__pycache__
/backend/app/core/__pycache__
/backend/app/models/__pycache__
/backend/app/services/__pycache__
handler_1c/alembic/versions/2024_08_21_0034-3bc08c0cd893_initial_tables.py
