.invalid-feedback{
     color: #d3d3d3 !important
}

.btn {
    height: 42px !important;
    width: 200px;
}

.card{
    background-color: #6c757d !important;
    border: #6c757d !important;
    color: #ffffff !important;   

}