input {
    max-width: 100%;
}

input,button, select {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 10px 20px;
    /* width: 20%; */
    color: rgba(20, 41, 41, 0.8);
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 20px rgba(20, 41, 41, 0.8);
    cursor: pointer;
    margin-top: 15px;

}

button {
    background-color: rgba(20, 41, 41, 0.8);
    max-width: 100%;
    color: #fff;
    margin-left: 20px;
}